
.ssX1Bd, .mxSrOe, .EzyPc>[jsslot] {
    display: table-row;
}

.E2qMtb {
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
}

.ufh7vf {
    cursor: pointer;
}

.ufh7vf, .gTGYUd {
    border-collapse: collapse;
    display: table;
    width: 100%;
}
.ufh7vf {
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    left: -1px;
    top: 0;
}